fastapi
uvicorn
Flask
langchain
langchain-community
langchain-core
langchain-openai
langchain-mongodb
openai
spacy
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
face_recognition
opencv-python
Pillow
pydub
gtts
transformers
librosa
torch==2.4.0+cpu
